@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    /* border: 1px solid red; */
}

:root {
    --primary-font: 'Barlow Condensed', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}

body,
html {
    font-weight: 400;
    font-family: var(--secondary-font);
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    line-height: 1.5;
    background-color:white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: 2.4rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    margin-bottom: 5px;
}

h2 {
    color:black;
    font-size: 2.5rem;
    font-weight: 600;
    display: inline-block;
    line-height: 1.2;
}

h3 {
    color: aliceblue;
    font-size: 1.9rem;
    line-height: 1.2;
    font-weight: 600;
    margin: -3rem;
}

h4 {
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    /* line-height: 1; */
    margin: 10px;
}

h5 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    color: black;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 12px;
    color: black;
    font-family: var(--secondary-font);
}

embed,
iframe,
img,
object {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:active,
a:focus,
a:hover
button {
    text-decoration: none;
    outline: 0;
}

li a {
    color: white;
}

a:hover,
button:hover {
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;

}
/* Grouping End */

.main-btn {
    position: relative;
    color: aliceblue;
    /* z-index: 2; */
    overflow: hidden;
    border: 1px solid;
    border-radius: 2rem;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 1rem;
    margin: 1rem 0;
    letter-spacing: 2px;
    background-color: palevioletred;
}

section {
    padding: 1rem 0;  
}

.section-title {
    font-size: 2.7rem;
    font-weight: 600;
    color: white;
}

.header {
    position: absolute;
    width: 100%;
    top: 1rem;
    left: 0;
    z-index: 2;
    background-color: palevioletred;

}


.header .navbar-brand {
    width: 200px;
    margin: -0.7rem;
}

.header .navbar-nav .nav-link {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 20px;
    margin: 5px;
    font-family: var(--primary-font);
    
}

.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active  {
    color: brown;
    text-shadow: 0 0 20px white;
       
} 

.header .navbar-toggler {
    color: white;
    font-size: 1rem;
    padding: 0;
}

.header .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.header .header_right span {
    color: brown;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    
}

.header .header_right .phone_no {
    color: white;
    font-size: 1rem;

}

.header-scrolled {
    position: fixed;
    top: -0.4rem;
    left: 0;
    right: 0;
    padding: 12px 20px;
    width: 100%;
    max-width: 100%;
    margin: auto;
    z-index: 999;
    transition:0.3s all ease-in-out;
    background-color: palevioletred;
}
/* Banner Section Start  */

.banner_section {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)),url(./image/bb.png);
    background-repeat: no-repeat;
    min-height: 60vh;
    background-position: center;
    object-fit: cover;
}

.banner_section .carousel-item {
    margin-top: -1rem;
    height: 100vh;
}

.banner_section .carousel-caption {
    top: 25%;
    bottom: 0;
    left: 2%;
    right: 0;
    text-align: left;
}
.section-title p {
    margin: 0;
    color: white;
}

.about_section {
    
    background-color: rgb(252, 244, 245);
}

.about_section_page { 
    margin-top: 6rem;
}



.landing_product_section .product-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid pink;
    box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: all 0.3s;
}


.landing_product_section .product-card h3 {
    color: white;
}


.landing_product_section .product-detail {
    position: absolute;
    bottom: -22rem;
    right: 0;
    left: 0;
    text-align: center;
    padding: 5.5rem 1rem;
    backdrop-filter: blur(5px);
    transition: all 0.5s ease;
    /* -webkit-filter: blur(5px); */
    
}

.landing_product_section .product-card:hover .product-detail {
    bottom: 0;
}

.services_page {
    margin-top: 5rem;
}


/* Footer CSS */

.footer_wrapper {
    background-color:pink ;
}

.footer_wrapper h5 {
    font-size: 1.2rem;
    margin-bottom: 12px;
}

.footer_wrapper ul li {
    margin-bottom: 2px;
    list-style: none;
}

.footer_wrapper .contact-info li a {
    color: var(--text-gray);
    font-size: 1rem;
}

.footer_wrapper .link-widget li a,
.footer_wrapper p {
    color: var(--text-gray);
    font-size: 15px;
    padding-left: 1.2rem;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.footer_wrapper .link-widget li a::before {
    content: '\f105';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0.3rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footer_wrapper .link-widget li a:hover {
    margin-left: .625rem;
    color: var(--secondary-color);
}

.footer_wrapper .social-network a {
    width: 1.5rem;
    margin: .5rem;
    line-height: 1rem;
    font-size: 1.5rem;
    display: inline-block;
    color: var(--text-gray);
    text-align: center;
    border-radius: 50%;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer_wrapper .social-network a:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-white);
    box-shadow: 0 .625rem .9375rem 0 rgb(0 0 0 / 10%);
    transform: translateY(-0.1875rem);
}


.footer_wrapper .copyright-section p {
    margin-top: 0;
    line-height: 0;
    text-align: center;
}

.footer_wrapper .copyright-section a {
    color: var(--primary-text);
    font-weight: 600; 
}

.last-text {
    font-size: 16px;
}



.whatsapp_btn{
    padding: 5px 20px;
    border-radius: 2rem;
    color: #000;
}


.whatsapp img{
    width: 60px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}
.stickynav{
    position: fixed;    
    bottom: 10%;
    right: 3%;
    cursor: pointer;

}

.card-body img {
    width: 100%;
    max-height: 300px;
    object-fit: cover; 
}
.card-body {
    padding: 0;
    background-color: pink;
}


.offer-page {
    margin-top: 5rem;
}

.price-list {
    margin-top: 5rem;
}
.nails-page {
    margin-top: 3rem;
}

/* =============== */


.review-card:hover {
    transform: scale(1.05);
}

.review-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.review-rating {
    font-size: 1.2em;
    color: #f39c12;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #000; 
    border-radius: 50%;
}


.carousel-item {
    text-align: center;
    padding: 0 90px;
  }
  .review-content {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .review-author {
    margin-top: 15px;
    font-weight: bold;
  }

  .review-content span {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
  }

  .container_2 {
    padding: 0 20px;
  }

  .contact-info ul li {
    padding: 2px;
  }
